APP_ENV=prod
APP_NAME=name
DEBUG=False

DB_HOST=database-host
DB_PORT=database-port
DB_USER=database-user
DB_PASSWORD=database-password
DB_NAME=database-name

HOST=0.0.0.0
PORT=8000

JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080